@font-face {
  font-family: Mixcloud;
  src: url(../../assets/font/mixcloud-font.woff2);
}

@font-face {
  font-family: Awesome;
  src: url(../../assets/font/fa-regular.ttf);
}

@font-face {
  font-family: Monton;
  src: url(../../assets/font/Monoton-Regular.ttf);
}
